/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2017, 3:52:48 PM
    Author     : User
*/
.option-list{
    font-weight: bold;
    padding: 10px; 
}

.option-list a{
    color: #fff;
}

.option-list:hover{
    background-color: #fff;
    color: #eb3812;
    transition-duration: 0.4s;
}

.option-list:hover a{
    color: #eb3812;
    text-decoration: none;
    transition-duration: 0.4s;
}

.option-bar{
    background-color: #eb3812;  
}

.menu-list{
    padding-left: 0px !important;
    margin-top: 100px;
}

.menu{
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-color: #cecece;
    padding: 0px !important;
    margin-bottom: 50px;
}

.rating{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 70px 30px;
    width: 100%;
}

.card-title a{
    color: #000;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
}

.card-title a:hover{
    text-decoration: none;
} 

.rating span{
    color: #FFF;
    font-family: cursive;
    text-shadow: 2px 2px 4px #000;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.rating:hover span {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.menu img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.menu:hover img{
    opacity: 0.6;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
