body{
    background-color: #efefef;
}

.pic-container{
    padding: 0px !important;

}

.img-test{
    height: 500px;
    width: 100%;
    position: relative;
}

.recipe-name { 
   position: absolute; 
   top: 300px; 
   left: 0; 
   width: 100%; 
}

.recipe-name span{ 
   color: white; 
   font: bold 30px/50px Helvetica, Sans-Serif; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.comment-btn{
    background-color: #f05f40;
    border-color: #f05f40;
}

.comment-btn:hover{
    background-color: #eb3812;
    border-color: #eb3812;
}

.recipe-info{
    margin-top: 30px;
    margin-bottom: 20px;
}

.recipe-info a{
    background-color: #cecece;
    padding: 10px;
    margin-left: 10px;
    float: right;
    color: #f05f40;
    text-decoration: none;
}

.recipe-info a:hover{
    background-color: #f05f40;
    transition-duration: 0.4s;
    color: #fff;
}
